# app mode ['test', 'dev', 'prod']
MODE='dev'

# log level ['silly', 'debug', 'verbose', 'info', 'warn', 'error']
LOG_LEVEL = 'debug'

# express server PORT
PORT=8080

# HTTP server IP address
IP_ADDRESS='localhost'

# mongo db connection url
MONGO_URL='mongodb://localhost/todo-db'

# Google URL for obtain public keys for verifying jwt
GOOGLE_API_KEYS_URL = 'https://www.googleapis.com/oauth2/v1/certs'
